@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;   
}

body{
    background-image: linear-gradient(to right,#80e4ed, #55cdd8);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #212e30;
    width: 400px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#dc986e;
    text-align: center;
    text-shadow: 1px 1px 2px black ;
}

h2 {
    color:#229DA8 ;
}

p{
   text-align: justify; 
}